.stop-scroll {
  overflow: hidden;
}

.modal {
  display: none;
}

.modal-showing {
  display: block;
  transition: all 0.3s ease-in-out;
}

.modal-card {
  z-index: 100000;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  animation: modal_entrance 0.3s linear;
  @media screen and (min-width: 500px) {

    width: 500px;
  }

}

.modal-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.4);
}

label {
  &:hover { cursor: text; }
}

// Form Styles
.contact-form {
  position: relative;
  box-shadow: #eee 2px 3px 1px 1px;

  input, textarea {
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    appearance: none;
  }

  background: white;
  height: auto;
  // margin: 0 0 100px;
  overflow: hidden;
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba($black,0.1) 0 1px 3px 0;
  .email, .message, .name, .subject {
    position: relative;
    input, textarea {
      &:focus {
        background: lighten($gray,15%);
      }
    }
    label {
      color: $gray;
      left: 25px;
      position: absolute;
      top: 25px;
      transition: all,150ms;
    }
    &.typing label {
      color: $blue;
      font-size: 10px;
      top: 7px;
    }
  }
  .email, .name, .subject {
    width: calc(50% - 1px);
    @media (max-width: 500px) {
      width: 100%;
    }
    input {
      //height: 45px;
      padding: 25px 0 8px 25px;
    }
  }
  .email {
    border-left: 1px darken(white,10%) solid;
    float: right;
    @media (max-width: 500px) {
      border-left: none;
      border-top: 1px darken(white,10%) solid;
    }
  }
  .message {
    height: 202px;
    border-bottom: 1px darken(white,10%) solid;
    border-top: 1px darken(white,10%) solid;
    clear: both;
    textarea {
      height: 200px;
      padding: 23px;
    }
  }

    .subject {
      border-bottom: 1px darken(white,10%) solid;
      border-top: 1px darken(white,10%) solid;
      clear: both;
      width: 100%;
    }

  .name {
    float: left;
  }
  .submit {
    background: lighten($gray,30%);
    display: block;
    overflow: hidden;
    padding: 23px;
    .button {
      background: $blue;
      border: 1px $blue solid;
      color: white;
      float: right;
      padding: 9px 0;
      width: 100px;
      border-radius: 5px;
      @media (max-width: 500px) {
        float: none;
      }
      &:hover { background: lighten($blue,5%); }
      &:active { background: darken($blue,5%); }
      &:focus {
        border-color: lighten($blue,30%);
        box-shadow: lighten($blue,15%) 0 0 4px 1px, lighten($blue,15%) 0 0 4px 1px inset;
      }
    }
  }
}

.form-title {
  color: #333;
  padding: 20px 0 10px 20px;
}


@keyframes modal_entrance {
  from {
    transform: translate(-50%, -200%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

// @keyframes modal_exit {
//   from {
//     transform: translate(-50%, -50%);
//     opacity: 0;
//   }
//   to {
//     transform: translate(-50%, -200%);
//     opacity: 1;
//   }
// }
