.btn {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: 1.125rem;
  padding: .5rem 1rem;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent;
}

.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: none;
  border-color: rgba(0,0,0,.125);
  box-shadow: 0 0 0 3px rgba(0,0,0,.25);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.btn-primary {
  color: #fff;
  background-color: #0074d9;
  border-radius: 3px;
}

.btn-primary:hover {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
}

.btn-primary:active {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125),
    inset 0 3px 4px 0 rgba(0,0,0,.25),
    0 0 1px rgba(0,0,0,.125);
}

.btn-primary:disabled,
.btn-primary.is-disabled {
  opacity: .5;
}

.btn-outline,
.btn-outline:hover {
  border-color: currentcolor;
}

.btn-outline {
  border-radius: 3px;
}

.btn-outline:hover {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
}

.btn-outline:active {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125),
    inset 0 3px 4px 0 rgba(0,0,0,.25),
    0 0 1px rgba(0,0,0,.125);
}

.btn-outline:disabled,
.btn-outline.is-disabled {
  opacity: .5;
}

//////////////////////////////////////////
// Back Buttton
////////////////////////////////

  .btn-back {
      position: absolute;
      z-index: 15;
      width: 30px;
      height: 30px;
      top: 0;
      right: 0;
      transition-duration: 0.5s;
      @media screen and (min-width: 64em) {
          display: none;
      }
      &-icon {
          transition-duration: 0.5s;
          position: absolute;
          height: 3px;
          width: 30px;
          top: 30px;
          background-color: black;
          &:before {
              transition-duration: 0.5s;
              position: absolute;
              width: 30px;
              height: 3px;
              background-color: black;
              content: "";
              top: -10px;
          }
          &:after {
              transition-duration: 0.5s;
              position: absolute;
              width: 30px;
              height: 3px;
              background-color: black;
              content: "";
              top: 10px;
          }
      }
      &.open {
          .btn-back-icon {
              transition: 0.5s;
              background-color: $accent-color;
              //transform: translate(-3em);
              &:before {
                  transform: rotateZ(45deg) scaleX(0.75) translate(10px, -3px);
                  background-color: $accent-color;
              }
              &:after {
                  transform: rotateZ(-45deg) scaleX(0.75) translate(10px, 3px);
                  background-color: $accent-color;
              }
          }
      }
      &:hover {
          cursor: pointer;
      }
  }
