.footer {
  // background: rgba($light-grey, 1);

  width: 100%;

  h5 {
    font-family: $pg-font;
  }
}


.small-column {


  &__header {
    border-bottom: 2px solid;
    color: $md-grey;
    .small-caps--grey {
      text-transform: uppercase;
      font-size: 0.875rem;
      letter-spacing: 0.05em;
      margin: 0 0 1rem;
    }
  }
}
