///////////////////////////////
// logo
/////////////////////////////
.logo {
  line-height: 1;

  @media (min-width: 40em) {

  }

}


.header {
  position: relative;
}

.hero {
  &-content {

    @media (min-width: 40em) {
      // padding: 4rem 2rem;
    }

    &-title {
      font-size: 3rem;
      line-height: 1;
      @media (min-width: 40em) {
        max-width: 60%;
        font-size: 4.8rem;
        // line-height: 1.2;
        // margin-bottom: 0;
      }


    }

    &-sub {
      @media (min-width: 40em) {
        max-width: 60%;
        // font-size: 4.8rem;
        // // line-height: 1.2;
        // // margin-bottom: 0;
      }
    }
  }

}

.page-header {
  height: auto;
  width: 100%;
  height: 30vh;

  &-hero {
  height: 55vh;
  }

  @media (min-width: 64em) {
    // height: 35vh;
    &-hero {
    height: 55vh;
    }
  }

  @media (min-width: 100em) {

    &-hero {
    height: 65vh;
    }
  }

  &-title {
    font-size: 2rem;

    @media (min-width: 64em) {
      font-size: 3rem;
    }

  }

  &-no-img {
    border-top: 1px solid #efefef;

  }

}

.single-faculty-member {
  .page-header {  display: none; }

}

.nav-header {
  min-height: 10vh;
  width: 100%;
}

.post-type-archive-tribe_events {
  .page-header {
    display: none;
  }
}
