.top-bar {

}

.nav-bar {
  // background: rgba(#fff, 0.9);
}
.nav-main-wrapper {
  background: rgba(white, 1);
  transform: translateX(100%);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.25s ease-in-out;
  z-index: 2;
  width: 100%;
  height: 100%;
  visibility: hidden;
  padding-top: 4rem;
  flex-direction: column;

  @media (min-width: 44em) {
    position: static;
    background-color: $light-grey;
    visibility: visible;
    opacity: 1;
    height: 8vh;
    width: 100%;
    transform: translateX(0);
    padding-top: 0;
    flex-direction: row;
    overflow: visible;
  }
}
.nav-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  //  height: 5vh;
  z-index: 1;
  background: rgba($light-grey, 1);
  position: relative;
  @media only screen and (max-width: 50em) and (orientation: landscape) {
    height: 16vh;
  }
  &-search {
    // order: 0;
    padding: 1rem 0;
    &-input {
      background-position: 146px center;
      border: none;
      display: inline-block;
      font-size: 0.875rem;
      padding: 0.5rem 1rem;
      transition: all 0.3s ease-in-out, border-color 0.75s ease-out;
      cursor: pointer;
      &:focus {
        cursor: text;
        border-color: #111;
        outline: none !important;
      }
    }
  }
  &__button-wrap {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.5rem;
    display: none;
  }
  @media (min-width: 44em) {
    background-color: $light-grey;
    // height: 6vh;
    transform: translateX(0);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.875rem;
    box-shadow: rgba(0, 0, 0, 0.117447) 0 1px 6px 0;
    &-search {
      // order: 2;
      padding: 0;
      &-input {
        width: 0;
        background-position: center !important;
        border: 1px solid #ccc;
        border-radius: 0;
        border-top: none;
        border-bottom: none;
        &:focus {
          border-bottom: 1px solid $black;
          border-top: 1px solid $black;
          border-radius: 20px;
          background-position: 166px center !important;
          width: 200px;
        }
      }
    }
    &__button-wrap {
      display: block;
      position: static;
      left: auto;
      top: auto;
      padding: 0.5rem 1.5rem 0 0;
    }
    .nav-apply-btn {}
  }
}
.slide-in-right {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.nav-drop {
  position: static;
  display: block;
  left: 0;
  top: 100%;
  transform: translateY(0);
  max-height: 0;
  width: 100%;
  background: $light-grey;
  border-left: 5px solid $maroon;
  z-index: 2000000;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, height 0.3s ease-in-out;
  &-link {
    font-family: $pg-font;
    font-weight: 500;
  }
  &-button {
    //color: white;
    padding-right: 6rem;
    &-icon {
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
  }
  &-open {
    .nav-drop {
      max-height: 360px;
    }
    .nav-drop-button-icon {
      transform: rotate(180deg);
    }
  }
  @media (min-width: 44em) {
    position: fixed !important;
    left: 0;
    visibility: hidden;
    z-index: 10;
    // height: 0;
    max-height: 280px;
    box-shadow: rgba(0, 0, 0, 0.217447) 0 8px 10px 0;
    border-top: 6px solid $maroon;
    border-left: none;
    // border-radius: 0 0 3px 3px;
    // background: rgba(0,0,0,0.85);
    // background: #fefefe;
    margin-top: 0;
    //padding-top: 4rem;
    //left: -17.25rem;
    text-align: left;
    // transition: none;
    &-item {
      opacity: 0;
    }
    &-button {
      //color: black;
      // padding-right: 0;
      // padding-left: 0;
      display: none;
    }
    &:hover {
      visibility: visible;
      opacity: 1;
      max-height: 280px;
      height: 280px;
      z-index: 1000000000 !important;
    }
  }
}
.nav-list {
  display: block;
  // width: 100 %;
  @media (min-width: 44em) {
    padding: 0 1rem;
  }
  &-item {
    height: 100%;
    width: 100%;
    line-height: 2rem;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    @media (min-width: 44em) {
      display: inline-block;
      width: auto;

      &:hover {
        .arrow {
          display: block;
        }
        .nav-drop {
          pointer-events: auto;
          visibility: visible;
          height: 280px;
          // max-height: ;
          z-index: 1000000 !important;
          &-item {
            opacity: 1;
          }
        }
      }
    }
    &-link {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 700;
      font-family: $pg-font;
      // letter-spacing: 0.03em;
      // color: #fff;
      // color: #8a8a8a;
      @media (min-width: 44em) {
        color: $nav-txt-color;
        font-size: 0.825rem;
        &:hover {
          .arrow {
            display: block;
          }
          .nav-drop {
            pointer-events: auto;
            visibility: visible;
            height: 280px;
            max-height: auto;
            z-index: 2000000 !important;
            &-item {
              opacity: 1;
            }
          }
        }
      }
    }
    @media (min-width: 44em) {
      width: auto;
      &:hover {
        .arrow {
          display: block;
        }
        .nav-drop {
          pointer-events: auto;
          visibility: visible;
          height: 280px;
          // max-height: auto;
          z-index: 20000000;
          &-item {
            opacity: 1;
          }
        }
      }
    }
  }
}
.logo {
  width: 16rem;
  vertical-align: middle;
}
.logo-link {
  color: #111;
}
.current_page_item .menu-item-has-children {
  color: $maroon;
}










.feat-menus {
    width: 100%;
    font-size: 0;
}




.feat-menu {
    width: 50%;
    display: inline-block;
    padding: 0 1rem;
    border-radius: 0;
    color: #221f1e;
    border: none;
    background-color: rgba(244,244,244,0.95);
}





.feat-menu:first-of-type {
    border-right: 2px solid;
}
