//////////////////////////////////////////////////////////
// Base Reset
//////////////////////////////////////////////////////

* {
	box-sizing: border-box;
}

body, html {
	max-width: 100%;
	overflow-x: hidden;
}

.container {
	max-width: 80em;
}

input {
	border: 1px solid #ccc;
	border-radius: 15px 15px;
	display: inline-block;
	padding: 0.35rem 0.75rem;
	transition: border-color 0.1s ease-in-out;
	&:focus {
		border-color: #111;
		outline: none !important;
	}
}

.link, .nav-list-item-link, .nav-link {
	&:hover {
	text-decoration: none;
}
}
