//////////////////////////////////////////////////////////
// Base Styles
//////////////////////////////////////////////////////

* {
	box-sizing: border-box;
}

body, html {
	max-width: 100%;
	overflow-x: hidden;
}

html{
  height: 100%;
}
body {
  min-height: 100%;
	position: relative;
}

.container {
	max-width: 85em;
}

.link, .nav-list-item-link, .nav-link {
	&:hover {
	text-decoration: none;
}
}

h1, h2, h3, h4, h5, h6, {
  font-family: 'Avenir', 'Lato', Helvetica, sans-serif;
}
