//////////////////////////////////////////////////////////
// Base Styles
//////////////////////////////////////////////////////

* {
	box-sizing: border-box;
}

body, html {
	max-width: 100%;
	overflow-x: hidden;
}

html{
  height: 100%;
}
body {
  min-height: 100%;
	position: relative;
	font-family: 'Helvetica Neue';
	color: #222;
	line-height: 1.8;
}
h1    { font-size: 2.75rem; }
h2    { font-size: 2.25rem; }
h3    { font-size: 1.75rem; }
h4    { font-size: 1.25rem; }
h5    { font-size: 1rem; }
h6,
.small { font-size: .85rem; }

@media screen and (min-width: 40em) {
	h1    { font-size: 3rem; }
	h2    { font-size: 2.25rem; }
	h3    { font-size: 1.75rem; }
	h4    { font-size: 1.25rem; }
	h5    { font-size: 1rem; }
	h6,
	.small { font-size: .85rem; }
}
.container {
	max-width: 80em;

	@media screen and (min-width: 120em) {
		max-width: 90em;
	}
}

.page-content__wrapper {
	max-width: 860px;
}

.link, .nav-list-item-link, .nav-link, a {
	&:hover {
	text-decoration: none;
}
}

h1, h2, h3, h4, h5, h6, {
  font-family: 'Avenir', 'Lato', Helvetica, sans-serif;
}

p {
	// font-size: .875rem;
	color: #303030;
}
