// A standard margin
$spacer: 32px;

// Color

$black:         #1a1a1a;
$nav-txt-color: #333333;
// $maroon:     #660000;
$maroon:        #AD2427;
$secondary:     #197278;
$gold:          #E9C73B;
$blue:          #3498db;
$light-grey:    #F4F7F9;
$light-grey:    #F7F7FA;
$md-light-grey: #e7e7eA;
$md-grey:       #cecece;
$dark-grey:     #7B7C7E;
$gray:          #7B7C7E;
$nav-txt-color: $dark-grey;

//Typography

$pg-font: "Avenir", sans-serif;
