{# View :: Base #}

{% block html_head_container %}
{% include 'header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

  <body class="{{body_class}}">

    {% include "partials/navigation.twig" %}

    {% block header %}

    <header class="page-header">
      <h1 class="page-header-title m0 px3 py4" itemprop="headline">
        {{page.title}}
      </h1>
    </header>

    {% endblock %}


    <section id="main" role="main">

      <div>
        {% block content %}

        {% endblock %}
      </div>

      {% if sidebar %}
        <aside class="sidebar">
          {{sidebar}}
        </aside>
      {% endif %}

    </section>

    {% block footer %}
      <footer class="footer mt4 px3 py2 clearfix" id="footer">
        {% include 'footer.twig' %}
      </footer>
      {{ function('wp_footer') }}
    {% endblock %}

  </body>
</html>
