{# View :: Footer #}

<div class="flex flex-center flex-justify flex-wrap">

<nav id="nav-footer" class="nav-footer" role="navigation">

  <ul class="p0">

    {% for item in footer_menu.get_items %}
      <li class="list-reset inline-block mr2 relative {{item.classes | join(' ')}}">
        <div class="hover-bar">


        <h5><a class="link black" href="{{item.get_link}}">{{item.title}}</a></h5>

        </div>
      </li>
    {% endfor %}
  </ul>

</nav>


<ul class="list-reset social-list">
  <li class="inline-block social-list-item"><?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <a href="https://www.facebook.com/loynofamis/" class="social-list-item-link">
      <svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
          <title>1444514125_facebook</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
              <g id="1444514125_facebook" sketch:type="MSLayerGroup" fill="#344C8A">
                  <g id="facebook" sketch:type="MSShapeGroup">
                      <path d="M17.6033403,13.5949896 L17.6033403,11.7913653 C17.6033403,10.9772025 17.8001503,10.5887265 19.0639833,10.5887265 L20.6096033,10.5887265 L20.6096033,7.58246347 L18.0037077,7.58246347 C14.761286,7.58246347 13.7286013,9.02232985 13.7286013,11.5737119 L13.7286013,13.5949896 L11.5240084,13.5949896 L11.5240084,16.6680585 L13.7286013,16.6680585 L13.7286013,25.7536534 L17.6033403,25.7536534 L17.6033403,16.6680585 L20.2900042,16.6680585 L20.6497537,13.5949896 L17.6033403,13.5949896 L17.6033403,13.5949896 Z" id="Shape"></path>
                      <path d="M16,0.0334029228 C7.18189562,0.0334029228 0.0334029228,7.18189562 0.0334029228,16 C0.0334029228,24.8181044 7.18189562,31.9665971 16,31.9665971 C24.8181044,31.9665971 31.9665971,24.8181044 31.9665971,16 C31.9665971,7.18189562 24.8181044,0.0334029228 16,0.0334029228 L16,0.0334029228 Z M26.5815115,26.5815115 C23.7550898,29.4079332 19.9971942,30.9645094 16,30.9645094 C12.0028058,30.9645094 8.24491023,29.4079332 5.41848852,26.5815115 C2.59206681,23.7550898 1.03549061,19.9971942 1.03549061,16 C1.03549061,12.0028058 2.59206681,8.24491023 5.41848852,5.41848852 C8.24491023,2.59206681 12.0028058,1.03549061 16,1.03549061 C19.9971942,1.03549061 23.7550898,2.59206681 26.5815115,5.41848852 C29.4079332,8.24491023 30.9645094,12.0028058 30.9645094,16 C30.9645094,19.9971942 29.4079332,23.7550898 26.5815115,26.5815115 L26.5815115,26.5815115 Z" id="Shape"></path>
                  </g>
              </g>
          </g>
      </svg>
    </a>
  </li>

  <li class="inline-block social-list-item"><?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <a href="https://www.youtube.com/user/thecfmae" class="social-list-item-link">
      <svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
          <title>1444514113_youtube</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
              <g id="1444514113_youtube" sketch:type="MSLayerGroup" fill="#B30017">
                  <g id="youtube" sketch:type="MSShapeGroup">
                      <path d="M24.0167015,21.2126597 L24.0167015,18.8694447 C24.0167015,17.2596242 22.7385052,15.933261 21.1296868,15.933261 L11.0048601,15.933261 C9.39497286,15.933261 8.11691023,17.2596242 8.11691023,18.8694447 L8.11691023,21.2126597 C8.11691023,22.8214781 9.39503967,24.1503132 11.0048601,24.1503132 L21.1296868,24.1503132 C22.7385052,24.1503132 24.0167015,22.8214113 24.0167015,21.2126597 L24.0167015,21.2126597 Z M13.1273486,17.8037578 L12.1920668,17.8037578 L12.1920668,22.480167 L11.256785,22.480167 L11.256785,17.8037578 L10.3215031,17.8037578 L10.3215031,17.0020877 L13.1273486,17.0020877 L13.1273486,17.8037578 L13.1273486,17.8037578 Z M15.7995825,22.480167 L14.9979123,22.480167 L14.9979123,22.0130605 C14.8643006,22.1762004 14.6869979,22.2997912 14.5259958,22.3873737 C14.3649269,22.4739541 14.2047265,22.5151733 14.0532109,22.5151733 C13.8662881,22.5151733 13.7132359,22.4555157 13.6171023,22.335666 C13.5231065,22.2131441 13.4613779,22.0357745 13.4613779,21.7944718 L13.4613779,18.4050104 L14.263048,18.4050104 L14.263048,21.515691 C14.263048,21.6107557 14.2958497,21.6798998 14.3285846,21.7221211 C14.3634572,21.7654113 14.4252526,21.7859875 14.5018121,21.7859875 C14.5598664,21.7859875 14.6396326,21.7539875 14.7304217,21.6974697 C14.8212109,21.6398831 14.9083925,21.5448184 14.9838831,21.4780125 L14.9979791,21.4780125 L14.9979791,18.4049436 L15.7996493,18.4049436 L15.7996493,22.480167 L15.7995825,22.480167 Z M18.7390397,21.62238 C18.7390397,21.9080418 18.66562,22.1266305 18.5388894,22.2802839 C18.4142965,22.4328685 18.2247015,22.5083591 17.9866054,22.5083591 C17.8276743,22.5083591 17.677762,22.4792985 17.5552401,22.4207098 C17.4317161,22.3615866 17.3361837,22.2707307 17.202572,22.1461378 L17.202572,22.480167 L16.4009019,22.480167 L16.4009019,17.0020877 L17.202572,17.0020877 L17.202572,18.7463883 C17.3361837,18.6238664 17.4329854,18.5288685 17.553904,18.4649353 C17.6764259,18.4010689 17.8034906,18.3688685 17.9291524,18.3688685 C18.1846848,18.3688685 18.3905804,18.4554489 18.5247265,18.6276075 C18.6609436,18.7986973 18.7391065,19.0505553 18.7391065,19.3815783 L18.7391065,21.62238 L18.7390397,21.62238 Z M19.4533946,22.2337871 C19.2458956,22.0130605 19.1398747,21.7078914 19.1398747,21.3182797 L19.1398747,19.5030313 C19.1398747,19.1556409 19.2559165,18.8689102 19.4839916,18.6492526 C19.7131357,18.427524 20.0061461,18.3182296 20.3683006,18.3182296 C20.7373361,18.3182296 21.0354906,18.4201086 21.234572,18.6239332 C21.433119,18.8292944 21.5448184,19.1218372 21.5448184,19.5035658 L21.5448184,20.5427975 L20.0082839,20.5427975 L20.0082839,21.2944969 C20.0082839,21.5078079 20.0171691,21.6545804 20.0700125,21.7380209 C20.123858,21.8193236 20.2064969,21.8594739 20.3352985,21.8594739 C20.4693779,21.8594739 20.55362,21.8246013 20.6058622,21.7554572 C20.6581044,21.6863132 20.6763424,21.5326597 20.6763424,21.2944969 L20.6763424,21.1440501 L21.5448184,21.1440501 L21.5448184,21.3182129 C21.5448184,21.7326764 21.4314489,22.0441921 21.2271566,22.2543633 C21.0260042,22.4629311 20.7166931,22.5669478 20.3143883,22.5669478 C19.9527683,22.5669478 19.6608935,22.4555157 19.4533946,22.2337871 L19.4533946,22.2337871 Z" id="Shape"></path>
                      <path d="M20.6764092,19.4982213 C20.6764092,19.3287349 20.6527599,19.2062129 20.5973111,19.136 C20.5423967,19.0605094 20.4532109,19.0245678 20.3318246,19.0245678 C20.203023,19.0245678 20.0957996,19.0604426 20.0392818,19.136 C19.9827641,19.2062129 19.9415449,19.3292693 19.9415449,19.4982213 L19.9415449,19.874739 L20.6764092,19.874739 L20.6764092,19.4982213 L20.6764092,19.4982213 Z" id="Shape"></path>
                      <path d="M17.5514322,19.0098706 C17.4939123,19.0098706 17.4297787,19.0220292 17.3743299,19.0500209 C17.318881,19.0753403 17.2693111,19.1170939 17.2025052,19.1735449 L17.2025052,21.6889186 C17.2693111,21.7543883 17.3373862,21.8034906 17.3991816,21.8314823 C17.4619791,21.8594739 17.5289186,21.8747724 17.5970605,21.8747724 C17.6957996,21.8747724 17.7610021,21.8467808 17.807499,21.789261 C17.853929,21.7327432 17.8706305,21.6408852 17.8706305,21.5110146 L17.8706305,19.4254029 C17.8706305,19.2881169 17.8512568,19.1851691 17.794739,19.1138873 C17.7355491,19.0446764 17.6597244,19.0098706 17.5514322,19.0098706 L17.5514322,19.0098706 Z" id="Shape"></path>
                      <path d="M13.3277662,14.5302714 L13.3277662,12.0514405 L14.543499,8.5177453 L13.5038664,8.5177453 L12.8718831,10.9227557 L12.806881,10.9227557 L12.1426973,8.5177453 L11.1120835,8.5177453 L12.3256785,12.1628058 L12.3256785,14.5302714 L13.3277662,14.5302714 Z" id="Shape"></path>
                      <path d="M18.0041754,10.1210856 L18.0041754,13.8207265 C18.0041754,14.0878831 18.0518747,14.2858956 18.1568935,14.4168351 C18.2640501,14.5499123 18.4188392,14.6169186 18.6290104,14.6169186 C18.8001002,14.6169186 18.9731942,14.5683507 19.1537704,14.4743549 C19.3359499,14.3803591 19.5407098,14.2415365 19.6743215,14.0609603 L19.6743215,14.5302714 L20.6096033,14.5302714 L20.6096033,10.1210856 L19.6743215,10.1210856 L19.6743215,13.4796159 C19.6075157,13.5778205 19.4964843,13.6570522 19.3956743,13.7209186 C19.2927265,13.782714 19.2085511,13.8149144 19.142547,13.8149144 C19.0570355,13.8149144 18.9814781,13.7901294 18.9445344,13.7425637 C18.9065219,13.6961336 18.8727182,13.6205762 18.8727182,13.5144885 L18.8727182,10.1210856 L18.0041754,10.1210856 L18.0041754,10.1210856 Z" id="Shape"></path>
                      <path d="M14.5970772,11.1231733 L14.5970772,13.4263048 C14.5970772,13.8038246 14.7270814,14.104785 14.9652443,14.3297203 C15.2038747,14.5514489 15.5273486,14.662881 15.9243758,14.662881 C16.3372359,14.662881 16.6707307,14.5546555 16.9078246,14.3392067 C17.1417119,14.1237578 17.2693111,13.8260042 17.2693111,13.4442756 L17.2693111,11.1474906 C17.2693111,10.8074489 17.1421795,10.5286681 16.9030146,10.3142881 C16.6617119,10.0999081 16.3507975,9.99168267 15.9743466,9.99168267 C15.5619541,9.99168267 15.2311983,10.0956994 14.9856868,10.2979207 C14.7412443,10.5043507 14.6179875,10.7891441 14.6179875,11.1231733 L14.5970772,11.1231733 L14.5970772,11.1231733 Z M15.5323591,11.0883674 C15.5323591,10.9917662 15.5764509,10.912 15.6456618,10.8534113 C15.7158747,10.7926848 15.8108058,10.7626221 15.9211691,10.7626221 C16.0420877,10.7626221 16.1434322,10.7927516 16.2179207,10.8534113 C16.2923424,10.912 16.334096,10.9912317 16.334096,11.0883674 L16.334096,13.5118831 C16.334096,13.6301294 16.2949478,13.7241253 16.2226639,13.7933361 C16.1503132,13.8604092 16.0510397,13.8931441 15.9275157,13.8931441 C15.8082004,13.8931441 15.7043841,13.8604092 15.6405177,13.7933361 C15.5755825,13.7273319 15.5324927,13.6333361 15.5324927,13.5118831 L15.5324927,11.0883674 L15.5323591,11.0883674 Z" id="Shape"></path>
                      <path d="M16,0.0334029228 C7.18189562,0.0334029228 0.0334029228,7.18189562 0.0334029228,16 C0.0334029228,24.8181044 7.18189562,31.9665971 16,31.9665971 C24.8181044,31.9665971 31.9665971,24.8181044 31.9665971,16 C31.9665971,7.18189562 24.8181044,0.0334029228 16,0.0334029228 L16,0.0334029228 Z M26.5815115,26.5815115 C23.7550898,29.4079332 19.9971942,30.9645094 16,30.9645094 C12.0028058,30.9645094 8.24491023,29.4079332 5.41848852,26.5815115 C2.59206681,23.7550898 1.03549061,19.9971942 1.03549061,16 C1.03549061,12.0028058 2.59206681,8.24491023 5.41848852,5.41848852 C8.24491023,2.59206681 12.0028058,1.03549061 16,1.03549061 C19.9971942,1.03549061 23.7550898,2.59206681 26.5815115,5.41848852 C29.4079332,8.24491023 30.9645094,12.0028058 30.9645094,16 C30.9645094,19.9971942 29.4079332,23.7550898 26.5815115,26.5815115 L26.5815115,26.5815115 Z" id="Shape"></path>
                  </g>
              </g>
          </g>
      </svg>
    </a>
  </li>

  <li class="inline-block social-list-item"><?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <a href="https://twitter.com/misloyno" class="social-list-item-link">
      <svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
          <!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
          <title>1444514102_twitter</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
              <g id="1444514102_twitter" sketch:type="MSLayerGroup" fill="#469AE9">
                  <g id="twitter" sketch:type="MSShapeGroup">
                      <path d="M26.7223382,10.8039081 C26.0077161,11.1215699 25.2386472,11.3358163 24.4316994,11.4316827 C25.2556159,10.9384551 25.8873987,10.1570939 26.1853528,9.22508559 C25.4146806,9.68237161 24.5615699,10.0143299 23.65281,10.1934363 C22.9255616,9.41848852 21.8889353,8.93387891 20.7418789,8.93387891 C18.539691,8.93387891 16.7540376,10.7193987 16.7540376,12.9221211 C16.7540376,13.234238 16.7891775,13.5384718 16.857453,13.830881 C13.5428142,13.664334 10.6038246,12.0768935 8.63679332,9.66393319 C8.29347808,10.2526263 8.09693528,10.9376534 8.09693528,11.6692443 C8.09693528,13.0527265 8.80093528,14.2736033 9.87103132,14.9886263 C9.21760334,14.9677161 8.60238831,14.7882088 8.06453445,14.489453 C8.06413361,14.5060209 8.06413361,14.5229896 8.06413361,14.5398914 C8.06413361,16.4718497 9.43893111,18.0833403 11.2635324,18.4503716 C10.9289019,18.5411608 10.5765678,18.5901294 10.2127432,18.5901294 C9.9554739,18.5901294 9.70562004,18.5652109 9.46217954,18.5183132 C9.97003758,20.1026138 11.4427056,21.2560835 13.1876075,21.2879499 C11.8226973,22.3577119 10.1034489,22.9954405 8.23462213,22.9954405 C7.91301879,22.9954405 7.59535699,22.9764676 7.28324008,22.9393904 C9.04865136,24.0714823 11.1447516,24.7312568 13.3967766,24.7312568 C20.7327933,24.7312568 24.7438831,18.6543967 24.7438831,13.3841503 C24.7438831,13.2112568 24.7403424,13.0388977 24.7328601,12.8676743 C25.5117495,12.3065052 26.1880251,11.6037745 26.7223382,10.8039081 L26.7223382,10.8039081 Z" id="Shape"></path>
                      <path d="M16,0.0334029228 C7.18189562,0.0334029228 0.0334029228,7.18189562 0.0334029228,16 C0.0334029228,24.8181044 7.18189562,31.9665971 16,31.9665971 C24.8181044,31.9665971 31.9665971,24.8181044 31.9665971,16 C31.9665971,7.18189562 24.8181044,0.0334029228 16,0.0334029228 L16,0.0334029228 Z M26.5815115,26.5815115 C23.7550898,29.4079332 19.9971942,30.9645094 16,30.9645094 C12.0028058,30.9645094 8.24491023,29.4079332 5.41848852,26.5815115 C2.59206681,23.7550898 1.03549061,19.9971942 1.03549061,16 C1.03549061,12.0028058 2.59206681,8.24491023 5.41848852,5.41848852 C8.24491023,2.59206681 12.0028058,1.03549061 16,1.03549061 C19.9971942,1.03549061 23.7550898,2.59206681 26.5815115,5.41848852 C29.4079332,8.24491023 30.9645094,12.0028058 30.9645094,16 C30.9645094,19.9971942 29.4079332,23.7550898 26.5815115,26.5815115 L26.5815115,26.5815115 Z" id="Shape"></path>
                  </g>
              </g>
          </g>
      </svg>
    </a>
  </li>

</ul>
</div>
