{# View :: Index #}

{% extends "base.twig" %}

{% block content %}
<div class="clearfix">

  <div class="clearfix container">
    {% for post in posts %}
    <div class="news-post sm-col sm-col-6 md-col-4 lg-col-3 p2 mx-auto">
      {% include ['partials/snippets/snippet-post.twig'] %}
    </div>
    {% endfor %}
  </div>

</div>
  {% include ['partials/pagination.twig'] %}

{% endblock %}
