{% extends "base.twig" %}

{% block content %}

<div class="mx-auto sm-py2 mb4 px2">
  <div class="mx-auto clearfix degree-guide-wrapper">

    <div class="clearfix px2">
      <h2>Arts Tracks</h2>
      <hr class="mb2">

      <div class="md-col md-col-4 lg-col-2">
        <table>
          <tr>
            <td style="font-weight:bold;">Commercial Music</td>
          </tr>
          {% for post in commercial_music.posts(99, 'course') %}
          {% include 'partials/degree-guide-row.twig' %}
        {% endfor %}
      </table>
      </div>

      <div class="md-col md-col-4 lg-col-2">
        <table>
          <tr>
            <td style="font-weight:bold;">Creative Writing</td>
          </tr>
          {% for post in creative_writing.posts(99, 'course') %}
          {% include 'partials/degree-guide-row.twig' %}
        {% endfor %}
      </table>
      </div>

      <div class="md-col md-col-4 lg-col-2">
        <table>
          <tr>
            <td style="font-weight:bold;">Digital Filmmaking</td>
          </tr>
          {% for post in digital_filmmaking.posts(99, 'course') %}
          {% include 'partials/degree-guide-row.twig' %}
        {% endfor %}
      </table>
      </div>

      <div class="md-col md-col-4 lg-col-2">
        <table>
          <tr>
            <td style="font-weight:bold;">Film Studies</td>
          </tr>
          {% for post in film_studies.posts(99, 'course') %}
          {% include 'partials/degree-guide-row.twig' %}
        {% endfor %}
      </table>
      </div>

      <div class="md-col md-col-4 lg-col-2">
        <table>
          <tr>
            <td style="font-weight:bold;">Screenwriting</td>
          </tr>
          {% for post in screenwriting.posts(99, 'course') %}
          {% include 'partials/degree-guide-row.twig' %}
        {% endfor %}
      </table>
      </div>
    </div>

      <div class="clearfix px2">

      <h2>Crafts & Skills</h2>
      <hr class="mb2">

      <div class="md-col md-col-4 lg-col-2">
        <table>
          <tr>
            <td style="font-weight:bold;">Audio Technology</td>
          </tr>
          {% for post in audio_technology.posts(99, 'course') %}
          {% include 'partials/degree-guide-row.twig' %}
        {% endfor %}
      </table>
      </div>

      <div class="md-col md-col-4 lg-col-2">
        <table>
          <tr>
            <td style="font-weight:bold;">Digital Media</td>
          </tr>
          {% for post in digital_media.posts(99, 'course') %}
          {% include 'partials/degree-guide-row.twig' %}
        {% endfor %}
      </table>
      </div>


      <div class="md-col md-col-4 lg-col-2">
        <table>
          <tr>
            <td style="font-weight:bold;">Graphic Design</td>
          </tr>
          {% for post in graphic_design.posts(99, 'course') %}
          {% include 'partials/degree-guide-row.twig' %}
        {% endfor %}
      </table>
      </div>

      <div class="md-col md-col-4 lg-col-2">
        <table>
          <tr>
            <td style="font-weight:bold;">Mass Communication</td>
          </tr>
          {% for post in mass_communication.posts(99, 'course') %}
          {% include 'partials/degree-guide-row.twig' %}
        {% endfor %}
      </table>
      </div>

      <div class="md-col md-col-4 lg-col-2">
        <table>
          <tr>
            <td style="font-weight:bold;">Music Technology</td>
          </tr>
          {% for post in music_technology.posts(99, 'course') %}
          {% include 'partials/degree-guide-row.twig' %}
        {% endfor %}
      </table>
      </div>

      <div class="md-col md-col-4 lg-col-2">
        <table>
          <tr>
            <td style="font-weight:bold;">Production</td>
          </tr>
          {% for post in production.posts(99, 'course') %}
          {% include 'partials/degree-guide-row.twig' %}
        {% endfor %}
      </table>
      </div>




    </div>

    </div>
  </div>
{% endblock %}
