{# View :: Page #}

{% extends "base.twig" %}


{% block content %}

  <article class="post-type-{{page.post_type}}" id="post-{{page.ID}}" itemscope itemtype="http://schema.org/WebPage">

    {# Content #}

    <div class="clearfix container py4 mb4">
      <div class="sm-col sm-col-6 px2">
        <h1 class="h1">Find the program for you</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="sm-col sm-col-6 px2 center">
        <iframe class="block mx-auto" width="560" height="315" src="https://www.youtube.com/embed/sqqfR4JgMOA?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="degree-grid white clearfix">

      {% for post in posts %}
      {% include ['partials/degree-block.twig'] %}
      {% endfor %}

    </div>

    <div class="clearfix mt4 mb4">
      <div class="sm-col sm-col-6 center">
        <h3>Meet our Students</h3>
        <!-- <div class="p3 video-carousel black">
          <div class="p1">
            <iframe class="block mx-auto" width="100%" height="100%" src="https://www.youtube.com/embed/sqqfR4JgMOA?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="p1">
            <iframe class="block mx-auto" width="100%" height="100%" src="https://www.youtube.com/embed/sqqfR4JgMOA?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="p1">
            <iframe class="block mx-auto" width="100%" height="100%" src="https://www.youtube.com/embed/sqqfR4JgMOA?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="p1">
            <iframe class="block mx-auto" width="100%" height="100%" src="https://www.youtube.com/embed/sqqfR4JgMOA?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div> -->

        <button class="btn btn-outline" type="button" name="button">View More</button>
      </div>
      <div class="sm-col sm-col-6 center">
        <h3>Meet our Faculty</h3>
        <!-- <div class="p3 video-carousel black">
          <div class="p1">
            <iframe class="block mx-auto" width="100%" height="100%" src="https://www.youtube.com/embed/sqqfR4JgMOA?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="p1">
            <iframe class="block mx-auto" width="100%" height="100%" src="https://www.youtube.com/embed/sqqfR4JgMOA?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="p1">
            <iframe class="block mx-auto" width="100%" height="100%" src="https://www.youtube.com/embed/sqqfR4JgMOA?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="p1">
            <iframe class="block mx-auto" width="100%" height="100%" src="https://www.youtube.com/embed/sqqfR4JgMOA?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div> -->
        <button class="btn btn-outline" type="button" name="button">View More</button>
      </div>
    </div>

  </article>

{% endblock %}
