{% extends "base.twig" %}

{% block content %}

<div class="bg-alternate">
  <div class="container py2 sm-py4">

    {% for child in tracks.children %}
      <div class="py2">


      {% if child.children %}

          <h2 class="center mt0">{{child.title}}</h2>
          <hr class="mb2 hr-sm-accent">
          <div class="clearfix sm-flex flex-wrap px2">
          {% for child in child.children %}
          <div class="p2 sm-col sm-col-4">


          <article class="card">
            <div class="p2">


            <h4 class="">{{child.title}}</h4>

            {% for post in child.posts(99, 'course') %}
              {% include 'partials/course-item.twig' %}
            {% endfor %}
            </div>
          </article>
          </div>
          {% endfor %}
        </div>
      {% else %}

      {% endif %}
      </div>
    {% endfor %}


    </div>
  </div>
{% endblock %}
