{# View :: Page #}

{% extends "base.twig" %}



{% block content %}

  <article class="post-type-{{page.post_type}}" id="post-{{page.ID}}" itemscope itemtype="http://schema.org/WebPage">

    {# Content #}
    <div class="p2" itemprop="articleBody">
      {{page.content}}
    </div>

  </article>

{% endblock %}
