{# View :: Page #}

{% extends "base.twig" %}


{% block content %}



<article class="bg-alternate post-type-{{page.post_type}}" id="post-{{page.ID}}" itemscope itemtype="http://schema.org/WebPage">

  {# Content #}

  <div class="clearfix container-small mx-auto px2 py4 mb2">
    <div class="mx-auto">
      <div class="">
        <div class="tooltip-parent relative">

          <h1 class=" center">Find the program for <span class="accent-color">you</span>.</h1>
          <div class="tooltip" style="font-size: 0.9rem;">
            <h5 class="mt0">Students First</h5>
            <p>We believe that students come first. Our professors and staff are here to help you succeed.</p>
            <a href="/contact-us"><button class="btn btn-outline btn-grey" type="button" name="button">Contact Us</button></a>
            <!-- <a href="#"><button class="btn btn-outline btn-grey" type="button" name="button">Learn More</button></a> -->
            <div class="arrow"></div>
          </div>
        </div>

        <hr class="hr-sm py1">
        <br>
        <!-- <img class="mx-auto block" src="{{bloginfo('stylesheet_directory')~'/img/degree-icon.svg'}}" alt="" /> -->
        <h4 class="txt-md-grey regular center">Your path to a career in a creative profession.</h4>
        <p class="px2">
          {{page.content}}
        </p>
        <div class="center py2">
          <a href="https://admissions.loyno.edu/register/inquiryform" target="_blank"><button class="btn btn-outline btn-accent-fill py2" type="button" name="button"><span>Request Information</span></button></a>
        </div>
      </div>
    </div>

  </div>



  <div class="degree-grid white clearfix">

    {% for post in posts %}
      {% include ['partials/degree-block.twig'] %}
    {% endfor %}

  </div>

</article>

{% endblock %}
