{# View :: Page #}

{% extends "base.twig" %}



{% block content %}

  <article class="post-type-{{page.post_type}} px1 sm-px2 sm-p3 py2" id="post-{{page.ID}}" itemscope itemtype="http://schema.org/WebPage">

    {# Content #}
    <div class="" itemprop="articleBody">
      {{page.content}}
    </div>

  </article>

{% endblock %}
