{# View :: template-squares-grid #}

{% extends "base.twig" %}

{% block content %}

  <article class="bg-alternate post-type-{{page.post_type}}" id="post-{{page.ID}}" itemscope itemtype="http://schema.org/WebPage">

    {# Content #}
    <div class="container-md mx-auto clearfix py2" itemprop="articleBody">
      {% for post in posts %}
          {% include ['partials/snippets/snippet-faculty.twig'] %}
      {% endfor %}
    </div>

  </article>

{% endblock %}
