<div class="clearfix px2 py4 bg-alternate">
  <div class="sm-col sm-col-6 sm-px3 py2 mx-auto">
    <div class="card rounded px2 py1 sm-p3">


      <h4>{{ page.get_field('wpcf-card-title')|array[0] }}</h4>
      <span class="txt-light">{{ page.get_field('wpcf-card-content')|array[0] }}</span>

      </div>

  </div>

  <div class="sm-col sm-col-6 sm-px3 py2 mx-auto">
    <div class="card rounded px2 py1 sm-p3">


      <h4>{{ page.get_field('wpcf-card-title')|array[1] }}</h4>
      <span class="txt-light">{{ page.get_field('wpcf-card-content')|array[1] }}</span>

      </div>

  </div>
</div>
