{# View :: Partial :: Category #}

{% if post.terms('category')%}
  {% for cat in post.terms('category') %}
    <a class="btn btn-accent-fill" href="{{cat.link}}" itemprop="articleSection">{{cat.name}}</a>
  {% endfor %}
{% endif %}
