<div class="degree-grid-item p2 center relative sm-col sm-col-6 lg-col-3 bg-cover-center" style="background: url('{{post.thumbnail}}') center; background-size: cover;">
  <div class="overlay">
  </div>
  <div class="table relative fill-container degree-block">
    <div class="table-cell align-middle degree-block-content-wrapper">
      <div class="degree-block-content">
    <a href="{{post.link}}" class="white link-reset"><h3 class="uppercase px2">{{ post.get_field('wpcf-degree-title-no-type') }}</h3>
      <span class="uppcase block degree-block-degtype mb2">{{post.get_field('wpcf-degree-type')}}</span>
      <button class="btn btn-outline btn-accent-fill degree-block-btn" type="button" name="button">View Degree</button>
    </a>
    </div>
  </div>
</div>
</div>
