<!--
  <div class="degree-grid-item  bg-cover bg-center p2 center relative sm-col sm-col-3" style="background: url('http://unsplash.it/410/400')">
    <div class="overlay">
    </div>
    <div class="relative  align-middle">
    <a href="{{child.link}}" class="white"><h3>{{ child.title }}</h3></a>
    <button class="btn btn-outline" type="button" name="button">View Degree</button>
    </div>
  </div> -->

  <div class="degree-grid-item  bg-cover bg-center p2 center relative sm-col sm-col-3" style="background: url('http://unsplash.it/410/400')">
    <div class="overlay">
    </div>
    <div class="table relative fill-container">
      <div class="table-cell align-middle">
        <h3>BS Music Industry Studies</h3>
        <a class="white" href="/degree-programs/bachelor-science-music-industry-studies"><button class="btn btn-outline" type="button" name="button">View Degree</button></a>
      </div>
    </div>
  </div>

  <div class="degree-grid-item  bg-cover bg-center p2 center relative sm-col sm-col-3" style="background: url('http://unsplash.it/420/400')">
    <div class="overlay">
    </div>
    <div class="table relative fill-container">
      <div class="table-cell align-middle">
        <h3>BM Music Industry Studies</h3>
        <a class="white" href="/degree-programs/bachelor-music-music-industry-studies"><button class="btn btn-outline" type="button" name="button">View Degree</button></a>
      </div>
    </div>
  </div>

  <div class="degree-grid-item  bg-cover bg-center p2 center relative sm-col sm-col-3" style="background: url('http://unsplash.it/430/400')">
    <div class="overlay">
    </div>
    <div class="table relative fill-container">
      <div class="table-cell align-middle">
        <h3>BS Pop & Commerical Music</h3>
        <a class="white" href="/degree-programs/bachelor-science-popular-commercial-music/"><button class="btn btn-outline" type="button" name="button">View Degree</button></a>
      </div>
    </div>
  </div>

  <div class="degree-grid-item  bg-cover bg-center p2 center relative sm-col sm-col-3" style="background: url('http://unsplash.it/440/400')">
    <div class="overlay">
    </div>
    <div class="table relative fill-container">
      <div class="table-cell align-middle">
        <h3>BFA Digital Filmmaking</h3>
        <a class="white" href="/degree-programs/bachelor-fine-arts-digital-filmmaking"><button class="btn btn-outline" type="button" name="button">View Degree</button></a>
      </div>
    </div>
  </div>
