<div class="hero-carousel relative">
  <div class="hero" style="background: url('http://unsplash.it/2100/820') center; background-size: cover; height: 80vh; width: 100%;">
  <div class="overlay"></div>

  <div class="hero-content absolute bottom-0 left-0 px2 py2 mb4 white">
    <h1 class="hero-content-title">Explore our new degrees</h1>
    <p class="hero-content-sub">Degree programs to help you build a career out of doing what you love.</p>
    <a class="white" href="/degree-programs"><button class="btn btn-outline" type="button" name="button">View Degrees</button></a>
    <a class="white ml2" href="#"><button class="btn btn-outline" type="button" name="button">Apply Now</button></a>
  </div>
</div>
  <div class="hero" style="background: url('http://unsplash.it/2100/850') center; background-size: cover; height: 80vh; width: 100%;">
  <div class="overlay"></div>

  <div class="hero-content absolute bottom-0 left-0 px2 py2 mb4 white">
    <h1 class="hero-content-title">Stay up to date with the latest news</h1>
    <p class="hero-content-sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
    <a class="white" href="/news"><button class="btn btn-outline" type="button" name="button">View News</button></a>

  </div>
</div>

<div class="hero" style="background: url('http://unsplash.it/2100/860') center; background-size: cover; height: 80vh; width: 100%;">
<div class="overlay"></div>

<div class="hero-content absolute bottom-0 left-0 px2 py2 mb4 white">
  <h1 class="hero-content-title">Stay up to date with the latest news</h1>
  <p class="hero-content-sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
  <a class="white" href="#"><button class="btn btn-outline" type="button" name="button">View News</button></a>

</div>
</div>

</div>
