<div class="modal modal-contact-form">
  <div class="modal-overlay"></div>
  <div class="modal-card">
    <form class="contact-form">
        <h4 class="form-title">Contact Form</h4>
        <span class="close toggle-contact"></span>
      <div class="name">
        <label for="name">Full Name</label>
        <input type="text" id="name" />
      </div>
      <div class="email">
        <label for="email">Email</label>
        <input type="text" id="email" />
      </div>
      <div class="subject">
        <label for="subject">Subject</label>
        <input type="text" id="subject" />
      </div>
      <div class="message">
        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea>
      </div>
      <div class="submit">
        <input type="submit" value="Send" class="button" />
      </div>
    </form>
</div>
</div>
