@import "utilities";
@import "slick";
@import "slick-theme";

/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
	.reveal-modal-bg {
	  background: #ffffff;
	  background: rgba(#000, 0.5);
	  bottom: 0;
	  display: none;
	  left: 0;
	  position: fixed;
	  right: 0;
	  top: 0;
	  z-index: 100;
	  left: 0; }

	.reveal-modal {
		visibility: hidden;
		opacity: 0;
		top: 1.5em;
		left: 0;
		max-height: 100%;
		width: 100%;
		position: absolute;
		z-index: 101;
		border-radius: 3px;
		background: white;
		// box-shadow: 0 0 10px rgba(64, 64, 64, 0.25);

		&-txt-content {
			padding-bottom: 4em;
			max-height: 600px;
		}
		iframe {
			// display: none;
		}}

    @media only screen and (max-width: 60em) {
      .reveal-modal {
        height: 100%;
				.sm-col {
					width: 100%;
				} } }
    @media only screen and (min-width: 40em) {
      .reveal-modal {
				top: 3.25rem;
        left: 0;
        margin: 0 auto;
        max-width: 80rem;
        right: 0;
				min-height: 480px;
        width: 95%;

				&-txt-content {
					padding-bottom: 4em;
					max-height: 480px;
				}
			} }



	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		}
	/*

	NOTES

	Close button entity is &#215;

	Example markup

	<div id="myModal" class="reveal-modal">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch.  I it's mine.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
		<a class="close-reveal-modal">&#215;</a>
	</div>

	*/


  // .reveal-modal-bg {
  //   background: #000000;
  //   background: rgba(0, 0, 0, 0.45);
  //   bottom: 0;
  //   display: none;
  //   left: 0;
  //   position: fixed;
  //   right: 0;
  //   top: 0;
  //   z-index: 1004;
  //   left: 0; }
  //
  // .reveal-modal {
    // border-radius: 3px;
    // display: none;
    // position: absolute;
    // top: 0;
    // visibility: hidden;
    // width: 100%;
    // z-index: 1005;
    // left: 0;
    // background-color: #FFFFFF;
    // padding: 1.875rem;
    // border: solid 1px #666666;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
    // @media only screen and (max-width: 40em) {
    //   .reveal-modal {
    //     min-height: 100vh; } }
    // @media only screen and (min-width: 40.0625em) {
    //   .reveal-modal {
    //     left: 0;
    //     margin: 0 auto;
    //     max-width: 62.5rem;
    //     right: 0;
    //     width: 80%; } }
    // @media only screen and (min-width: 40.0625em) {
    //   .reveal-modal {
    //     top: 6.25rem; } }
  //
  //   .reveal-modal.toback {
  //     z-index: 1003; }
  //   .reveal-modal .close-reveal-modal {
  //     color: #AAAAAA;
  //     cursor: pointer;
  //     font-size: 2.5rem;
  //     font-weight: bold;
  //     line-height: 1;
  //     position: absolute;
  //     top: 0.625rem;
  //     right: 1.375rem; }
